*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}


body{

height:100vh;

background:linear-gradient(
135deg,
#8b5e8c,
#e6b8e8
);

display:flex;

align-items:center;

justify-content:center;

}



.login-container{

width:850px;

height:500px;

background:white;

border-radius:30px;

display:flex;

overflow:hidden;

box-shadow:0 15px 30px rgba(0,0,0,.2);

}



/* left side */

.login-image{

width:50%;

background:url("logol.png")
center/cover;

color:white;

padding:60px 40px;

display:flex;

flex-direction:column;

justify-content:center;

}



.login-image h1{

font-size:45px;

margin-bottom:20px;

}



.login-image p{

font-size:18px;

}



/* right side */

.login-box{

width:50%;

padding:50px;

}



.login-box h2{

color:#8b5e8c;

font-size:35px;

}



.small{

color:#777;

margin:10px 0 30px;

}



.input-box{

display:flex;

align-items:center;

gap:10px;

border:1px solid #ddd;

padding:12px;

border-radius:25px;

margin-bottom:20px;

}



.input-box i{

color:#8b5e8c;

}



.input-box input{

border:none;

outline:none;

width:100%;

}



button{

width:100%;

padding:14px;

border:none;

border-radius:25px;

background:#8b5e8c;

color:white;

font-size:16px;

cursor:pointer;

}



button:hover{

background:#6f3f70;

}



.register{

text-align:center;

margin-top:25px;

}



.register a{

color:#8b5e8c;

font-weight:bold;

text-decoration:none;

}